@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(72, 72, 233);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(72, 72, 233);
  }
}

body {
  background-color: var(--foreground-rgb);
  overflow: hidden;
}
a{
  color: blue;
  text-decoration: dashed underline 1px black;
}
#results{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.836);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  -moz-backdrop-filter: blur(2.5px);
  top: 60px;
  left: 5%;
  width: 90%;
  padding: 16px;
  border-radius: 15px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
